<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %> 

<body>  
    <%- include('./partials/header') %> 

    <main>
        <div class= "contenedor02">   
            <div class="conjunto">
                <div class= "invitar">
                    <h2 class= "frase-video"> Te invitamos a ver nuestro video institucional </h2>
                </div>

                <div class= "video">
                    <video class= "video" src= '/img/video-YoTeMudo.mp4' width= "350" height="200" controls></video>
                </div>
            
            </div>
                <div class= "expertos">
                    <h2>Expertos en Mudanzas</h2>
                </div> 
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %> 

</body>
</html>