    <footer class="footer">
        <div class="redesSocialesFooter">          
          <div class ="rrss"><img src="/img/facebook.png" class="logoFacebook"/></div>
          <div class="rrss"><img src="/img/twitter.png" class="logoTwitter"/></div>
          <div class="rrss"><img src="/img/linkedin.png" class="logoFacebook"/></div>  
        </div>  
      </footer>